.credit-section{
    margin-top: 50px;

margin-left: auto;
margin-right: auto;
 width: 50vw;
 max-width: 800px;
}
.credit-section h1 {
    text-align: center;
}
.credit-section p {
    font-size: 1.4rem;
    line-height: 3ch;
}
.credit-section img {
display: block;

text-align: center;
margin: 2rem auto;
    max-width: 300px
}

@media (width < 800px){
    .credit-section {
        width: 90%;
    }
}