
.main-content{

    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 8px ;
    margin: 1rem 0px;
    border: 1.5px solid rgb(6, 91, 91);
}
.main-content h1{
    text-align: center;
}
.movieInfoContainer {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;


}


.movieInfoContainer p{
max-width: 900px;
}

.primary-info{
    font-size: large;
}
iframe{
border: none;
    margin-top: 50px;
display: block;
margin-left: auto;
margin-right:auto ;
    height: 500px;
    width: 100%;
    border-radius: 16px ;
    aspect-ratio: 20/9;
    text-align: center;
}
.moviePoster{
max-width: 250px;
height: 250px;

border-radius: 8px ;
margin-top: 16px ;
box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}
.movieTitle{
    text-align: center;
    margin: 5px;
}
.ranking-section{
    display: flex;
    font-size: 1rem;
    gap: .5rem;
    height: fit-content;
}
.ranking-img{
    width: 32px;
}
.ranking-text{
    margin: 0;
    color: #f6c700;
}

.gender-list{
    margin-top: 0;
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(auto-fit,minmax(10%,.5fr));
    gap: .4rem;
}

.gender {
    box-sizing: border-box;
    font-size: .6rem;
    text-align: center;
    font-weight: bolder;
    box-sizing: border-box;
    margin: 0;
    border: 2.5px solid rgb(6, 91, 91);
    padding: 3px 5px;
    border-radius: 7%;
}

.secondary-info{
  display: flex;
    font-size:1rem;
    gap: 1.5rem;
    align-items: baseline;
}
.similar {
    padding: 4rem;
    margin: 1rem 0px;

    border-radius: 16px ;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .2);
    border: 1.5px solid rgb(6, 91, 91);

}

.similar h2{
    font-size: 2rem;
margin-top: .1rem;
}


.providers-section{
   text-align: center;
   padding-bottom: 2rem;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
   border-radius: 8px ;
}

.providers-section h3{
    font-size: 1.8em;
margin-bottom: 1rem;
}
.Providers{
    gap: 1rem;
    display: flex;
    align-content: baseline;
    justify-content: center;

    
}
.providerContainer img{
width: 50px;
border-radius: 5%;
outline: 0;
}

/*Escritorio*/
@media (min-width: 1199.98px)  {
}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {

    iframe {
        width: 100%;
        height: 50vh;
    }
}

/*landscape*/
@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    iframe {
        width: 100%;
        height: 50vh;
    }
}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    iframe {
        max-width: 400px;
        height: 200px;
    }
    .movieInfoContainer {
        flex-direction: column;
    }
 }
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    iframe {
        max-width: 400px;
        height: 200px;
    }

    .movieInfoContainer {
        flex-direction: column;
    }
 
}
/*fin movil*/