
.slideshow-container {

  position: relative;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 20/9;

}


/* Individual slides */
.slide {
  display: none;
  width: 100%;
  transition: opacity 0.5s; 
}

.description {
  position: absolute;
  top: 50%;
  left: 5%;
  font-weight: bold;
  width: 25vw;
  text-align: justify;
}

.slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

    aspect-ratio: 20/9;
}

.slide-logo {
  width: 100%;
 aspect-ratio: 11/4;
}


.more-btn {

  position:absolute;
  font-weight: bold;

  width: 300px;
  box-sizing: border-box;
  background-color: #0000007c;
  padding: 10px 40px;
  font-size: 1.2rem;
  border: 2px solid transparent;
  left:calc((50% - (300px/2)));
  bottom: 1rem;

}

/* Fade in animation */
.fade-in {
  text-align: center;
  opacity: 1;
  display: block;
  width: 100%;

}

/* Fade out animation */
.fade-out {
  opacity: 0;
  display: none;
}

/* Previous and next buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  background-color: var(--background-body);
}

/* Position the previous button */
.prev {
  left: 0;
}

/* Position the next button */
.next {
  right: 0;
}


.genre-list{
  display: grid;
  list-style-type: none;
  gap: .5rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
padding: 0;
}

.genre-item{
  padding: 4px 5px;
}
/*Escritorio*/

.more-btn, .genre-item{
  color: whitesmoke;
  border-radius: 5%;

  background-color: #0000007c;
  
}
.more-btn:hover, .genre-item:hover{
  color:var(--secondary-color)
}

@media (width < 600px)  {
  .slideshow-container{
    display: none;
  }
}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
  .slideshow-container{
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 890.98px) and (orientation:landscape) {
  .slideshow-container{
    display: none;
  }
  
}

/*landscape*/
@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {

}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
  .slideshow-container{
    display: none;
  }
}
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
}
/*fin movil*/
