.horizontal-menu{
    margin: 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    max-width: 800px;

    list-style-type: none;
    padding: 0%;
    display: flex;
    gap:3rem;
    align-items: center;
}

.menu-item a {
    color: inherit;
    text-decoration: none;

}

.menu-item:hover{
    cursor: pointer;
    color:#9fd3c7;
text-decoration-line: none;
}
header {
   height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #202b38;
    display: flex;
    justify-content: space-between;
}

.logo{
max-width: 200px;
}



.vertical-menu {
    display: none;

    
}
.vertical-items{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #202b38;
    width: 200px;
    gap: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    list-style-type: none;
    margin: 0;

}

.vertical-menu button {
   
    width: 100%;
}

.hide {
    display: none;
}

/*Escritorio*/
@media (min-width: 1199.98px)  {
}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
.horizontal-menu {
    display: none;
}

.vertical-menu {
       
    display: block;
    max-width: 20%;
    font-size: 1rem;
}

.vertical-items {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50vh;
    font-size: 1.4rem;
    gap: calc(100%/10);
    background-color: #202b38;
    border: 1px solid  #9fd3c7;
}
.vertical-items::-moz-focus-outer {
display: none;
}

.logo{
    width:80%;
}

}

/*landscape*/
@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    .horizontal-menu {
        display: none;
    }
    
    .vertical-menu {
       
        display: block;
    }
}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    .horizontal-menu {
        display: none;
    }
    
    .vertical-menu {
       
        display: block;
        max-width: 20%;
        font-size: 1rem;
    }
   
    .vertical-items {
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        position: absolute;
        left: 0;
        width: 100%;
        height: 50vh;
        font-size: 1.4rem;
        gap: calc(100%/10);
        background-color: #202b38;
        border: 1px solid  #9fd3c7;
    }
    .vertical-items::-moz-focus-outer {
display: none;
    }

    .logo{
        width:80%;
    }
 }
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {

    .horizontal-menu {
        display: none;
    }
    .vertical-menu {
       
        display: block;
        max-width: 20%;
        font-size: 1rem;
    }
   
    .vertical-items {
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        position: absolute;
        left: 0;
        width: 100%;
        height: 50vh;
        font-size: 1.4rem;
        gap: calc(100%/10);
        background-color: #202b38;
        border: 1px solid  #9fd3c7;
    }
    .vertical-items::-moz-focus-outer {
display: none;
    }

    .logo{
        width:80%;
    }
}
/*fin movil*/

