
form{
    display: flex;
      align-items: center;
  justify-content: end;
 font-size: 10px;
  
}


.input-desktop {
width: 150px;
}

  .mobile-search {
    display: none;
  }

  /* .mobile-search:not(:focus-within) .input-mobile{
    display: none
  } */

 

.desktop-search{
  gap: .1rem;
}
.desktop-search-button{
  background-color: transparent;
  padding: 0;

  font-size: 24px;
}
.desktop-search-button:hover{
  background-color: transparent;

}


    @media (width < 900px){
     
 .desktop-search {
  display: none;
}

.mobile-search {
  position: relative;
  display: flex;
  width: 50%;
}
.mobile-search form {
width: 100%;
}
.input-mobile {
  position: relative;
  width: 100%;
  right: 0%;

  transition: right 100ms linear;
}

 .input-mobile.invisible {
 right: -100%;
 z-index: -1;

}
.mobile-search-button {
  padding: 0;
  background-color: var(--background-body);
  font-size: 24px;
  box-shadow: none;
  margin: 0;
  padding-right: 6px;
}

.mobile-search-button:hover, .mobile-search-button:focus {
  box-shadow: none;

}
    }
  

