/* Slideshow container */

.slideshow-container {
  position: relative;
  width: 98%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 20/9;
  background-color:  #202b38;

}


/* Individual slides */
.slide {
  display: none;
  width: 100%;
  transition: opacity 0.5s;
}

.description {
  position: absolute;
  top: 50%;
  left: 5%;
  font-weight: bold;
  width: 400px;
  text-align: justify;
}

.slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 1rem;

    aspect-ratio: 20/9;
    opacity: .5;
}

.slide-logo {
  width: 100%;
  max-height:90px ;

}

/* Fade in animation */
.fade-in {
  text-align: center;
  opacity: 1;
  display: block;
  width: 100%;

}

/* Fade out animation */
.fade-out {
  opacity: 0;
  display: none;
}

/* Previous and next buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
}

/* Position the previous button */
.prev {
  left: 0;
}

/* Position the next button */
.next {
  right: 0;
}

/*Escritorio*/
@media (min-width: 1199.98px)  {

}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
  .slideshow-container{
    display: none;
  }
}

/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
  .slideshow-container{
    display: none;
  }
}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
  .slideshow-container{
    display: none;
  }
}
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
}
/*fin movil*/
